body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#chat-messages, .chat-messages {
    min-height: 10vh;
    /*height: 60vh;*/
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
}

#app {
    padding-top: 5px;
}

.input-group {
    display: table;
}

.input-group input, .suffix {
    display: table-cell;
}

.suffix {
    width: 1%;
}
