<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crypto Chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Crypto Chat</a>
                    <ul id="nav-mobile" class="right">
                        <li><a href="#" class="newChatRoom">+ Chat</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main id="app">
            <div class="row" id="chatrooms">
                <div class="col s12">
                    <ul class="tabs">
                    </ul>
                </div>
            </div>
        </main>
        <footer class="page-footer">
        </footer>
        <script src="https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.2/dist/sweetalert2.all.min.js"
            integrity="sha256-SYzPt40OoVzHIeFZSXl0O4vxw7wkwPpciQPKAyXz5Tc=" crossorigin="anonymous"></script>
        <script
          src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>


        <script>
            var user = {
                username: '{{.Username}}',
                email: '{{.Email}}'
            };

        </script>

        <script src="/static/chatroom.js"></script>
        <script src="/static/app.js"></script>
    </body>
</html>
